<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select label="Filtro" placeholder="Mostrar todos los productos" [(ngModel)]="selectedCategory">
        <ion-select-option value="all">Mostrar todos los productos</ion-select-option>
        <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
        <ion-select-option value="Limpieza">Limpieza</ion-select-option>
        <ion-select-option value="Frutas y Verduras">Frutas y Verduras</ion-select-option>
        <ion-select-option value="Farmacia">Farmacia</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of filterProducts(); index as i">
        <ion-card>
          <img [src]="product.photo+i" alt="Silhouette of a person's head">
          <ion-card-header>
            <ion-card-title>
              {{product.name}}
              <ion-badge [style.background-color]="product.style">{{product.type}}</ion-badge>
            </ion-card-title>
            <ion-card-subtitle>{{product.price| currency}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{product.description}}
          </ion-card-content>
          <ion-button (click)= "addToCart(product)">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
          <ion-button style="--background: red;" (click)="addToFav(product)">
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>